<div   [@bounceInDown]="" class="grid__body-item"><input type="checkbox" [formControl]="checkbox" /></div>
<div   [@bounceInDown]="" class="grid__body-item"><img [src]="item.foto" /></div>
<div   [@bounceInDown]="" class="grid__body-item">{{ item.label }}</div>
<div   [@bounceInDown]="" class="grid__body-item">{{ item.status }}</div>
<div   [@bounceInDown]="" class="grid__body-item"><app-read-more [currentText]="item.description"></app-read-more></div>
<div   [@bounceInDown]=""  class="grid__body-item item__delete-block">
	<app-icon (click)="killMe.emit()" [icon]="Icons.trash"></app-icon>
</div>
