<section class="header">
	<h1>Items store</h1>
	<button class="button" (click)="addItem()">Add item</button>
	<button class="button" (click)="print()">Print</button>
	<div>
		Selected: {{ selected.size }}

		<button class="button"  (click)="deleteSelected()">
			<app-icon [icon]="Icons.trash"></app-icon>
			Delete
		</button>
	</div>
</section>

<section class="grid">
	<div class="grid__header-item"></div>
	<div class="grid__header-item">Foto</div>
	<div class="grid__header-item">Label</div>
	<div class="grid__header-item">Status</div>
	<div class="grid__header-item">Description</div>
	<div class="grid__header-item">Actions</div>
	<app-item
		*ngFor="let item of items"
		[item]="item"
		(isChecked)="checkItem($event, item.id)"
		(killMe)="deleteById(item.id)"
	></app-item>
	<div class="empty-item">
		<!-- при появлении элементов app-item уберите эту заглушку с помощью чистого css -->
		Empty list
	</div>
</section>
