/* You can add global styles to this file, and also import other style files */
@import "src/assets/scss/mixins/mobile";
@import "src/assets/scss/mixins/dark-theme";


html {
	font-size: 16px;
}

body {
	font-family: sans-serif;
	padding: 2rem;
}

.grid {
	&__header-item {
		padding: 1em;
	    border-bottom:2px solid #F6F6F6;
   }

	&__body-item {
		padding: 1em;
	}

	app-item:nth-child(even) {
		.grid__body-item {
			background: #F6F6F6;
			border-bottom:2px solid #F6F6F6;
		}
	}

	&__header-item_inactive {
		.grid__body-item  {
			filter: grayscale(70%);
		}
	}

	@include mobile {
		&__header-item {
			display: none;
		}
	}
}


@include dark-theme {
	background-color: #777;

	.button:after  {
		background-color: #777 !important;
	}

	.search-input {
		background-color: #777 ;
		&::placeholder {
			color: black;
		}
	}
}

